body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin: 200px;
    /* border: 2px solid black; */
    background : repeating-linear-gradient(45deg, rgb(230, 226, 226), rgb(194, 193, 193) 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.app{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 50dvh;
    width: 30vw;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
h1{
    border: 1px solid orangered;
    margin-bottom: 20px;
    color: rgb(4, 38, 138);
}
button {
    margin-left: 30px;
}

#addBtn {
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

li {
    color: rgb(4, 38, 138);
}